include ./editPersonal
include ./editEducation
include ./editEmployment

mixin editor
  div#editor
    div#cvPersonal(data-id=cv._id, data-user=cv.email)
      +editPersonal

      div.cvSpacer

      +editEducation

      div.cvSpacer

      +editEmployment

    div#editControls
      div#editorSaveButton.standardButton Save