include ./editPersonal
include ./editEducation
include ./editEmployment

mixin editor
  div#editor
    div#cvPersonal
      +editPersonal

      div.cvSpacer

      +editEducation

      div.cvSpacer

      +editEmployment
