include ./editPersonal
include ./editEducation

mixin editor
  div#editor
    div#cvPersonal
      +editPersonal

      div.cvSpacer

      +editEducation

      div.cvSpacer

    | (...employment...)
