include ./editPersonal
include ./editEducation
include ./editEmployment

mixin editor
  script(src="/scripts/editor.js")
  div#editor
    div#cvPersonal(data-id=cv._id, data-user=cv.email, data-hash=cv.hash)
      +editPersonal

      div.cvSpacer

      +editEducation

      div.cvSpacer

      +editEmployment

    div#editControls
      div#editorSaveButton.standardButton Save