include ../styling
include ./editBlurb
include ./editPersonal
include ./editEducation
include ./editEmployment

mixin editor
  script(src="/scripts/editor.js")
  +styling

  div#cvPersonal(data-id=cv._id, data-user=cv.email, data-hash=cv.hash)

    div#editor
      div.tabBlurb
        +editBlurb

      div.tabEditor
        +editPersonal

        div.cvSpacer

        +editEducation

        div.cvSpacer

        +editEmployment

  div#editControls
    link(rel='stylesheet', href='/css/dazzle.css')
    script(src="/scripts/dazzle.js")
    img#editorSettingsIcon(src="/images/icon_settings.png")
    div#editorSaveButton.standardButton.standardButtonDisabled Save