mixin header
  div#header
    div#headertext= site.title

    div#headerNavigation
      span
        each item in site.map
          - let isCurrentPage = isMapLink(req.path, item);
          - let linkClass = isCurrentPage ? "headerNavLinkSelected" : "headerNavLinkUnselected";
          - let linkPath = isCurrentPage ? undefined : item.path;
          if (isMapItemVisible(req.session, item) && (! item.hidden))
            a(href=linkPath, class= linkClass, disabled= isCurrentPage) #{item.name}
  if site.image
    img#headerPicture(src=site.image)

  div#loginBubble
    div#loginBubbleText
      | login
  
  div#loginBox
    div#loginRegistrationText
      | If you haven't logged in before, an account will be created for you with
      | the given email address. You must verify the email address within 24 hours,
      | or the account will automatically be deleted.
    input(type="text", id="loginEmail", name="email", placeholder="email")
    input(type="password", id="loginPassword", name="password", placeholder="password")
    div#loginBoxButtons
      div#loginOk
        | Login
      div#loginCancel
        | Cancel