mixin header
  div#header
    div#headertext= site.title

    div#headerNavigation
      span
        each item in site.map
          - let isCurrentPage = isMapLink(req.path, item);
          - let linkClass = isCurrentPage ? "headerNavLinkSelected" : "headerNavLinkUnselected";
          - let linkPath = isCurrentPage ? undefined : item.path;
          if (isMapItemVisible(req.session, item) && (! item.hidden))
            a(href=linkPath, class= linkClass, disabled= isCurrentPage) #{item.name}
  if site.image
    img#headerPicture(src=site.image)

  div#loginBubble
    div#loginBubbleText

  if ! req.session.user  
    div(data-fragment='/fragments/loginbox')
    div(data-fragment='/fragments/registrationbox')

    script.
      console.log("header.pug : logged out");

      $(function() {
        $("#loginBubbleText").text("login");
      });
  else
    script.
      console.log("header.pug : logged in");

      $(function() {
        $("#loginBubbleText").text("logout");
        $("#loginBubble").click(function() {
            $.ajax({
                url: "/api/login",
                method: "DELETE"
            })
            .done((data, status) => {
                console.log("logged out");
                $.redirect("/");
            });
        });
      });
