mixin registrationbox
    div#registrationBox
        div.loginRegistrationText
            | Please give us a few details so that we can get you started...
        input.standardInput(type="text", id="regFirstName", placeholder="first name")
        input.standardInput(type="text", id="regLastName", placeholder="last name")
        input.standardInput(type="email", id="regEmail", placeholder="email")
        input.standardInput(type="password", id="regPassword", placeholder="password")
        input.standardInput(type="password", id="regPasswordConfirm", placeholder="confirm password")
        div.loginBoxButtons
            div#registerOk.standardButton
                | Register
            div#registerCancel.standardButton
                | Cancel

    script.
        $(function() {
            $(".loginBoxButtons .standardButton").button();

            let $registrationBox = $("#registrationBox");
            $("#registerOk").click(function() {
                $.ajax({
                    url: "/register",
                    method: "POST",
                    data: {
                        firstName: $("#regFirstName").val(),
                        lastName: $("#regLastName").val(),
                        email: $("#regEmail").val(),
                        password: $("#regPassword").val()
                    }
                })
                .done((data, status) => {
                    console.log("login: success [response-data=%o][status=%o]", data, status);
                })
                .fail((error, message) => {
                    console.error("login: error [error=%o][message=%o]", error, message);
                })
                .always(() => {
                    $registrationBox.fadeOut();
                });
            });

            $("#registerCancel").click(function() {
                $registrationBox.fadeOut();
            });
        });
