include ../styling
include ./viewBlurb
include ./viewPersonal
include ./viewEducation
include ./viewEmployment

mixin viewer
  if cv
    +styling

    div#cvPersonal(data-id=cv._id, data-user=cv.email, data-hash=cv.hash)

      div#editor
        div.tabBlurb
          +viewBlurb

        div.tabEditor
          +viewPersonal

          div.cvSpacer

          +viewEducation

          div.cvSpacer

          +viewEmployment
  else
    p
      | nothing to see
