include ./viewPersonal
include ./viewEducation
include ./viewEmployment

mixin viewer
  if cv
    div#editor
      div#cvPersonal(data-id=cv._id, data-user=cv.email, data-hash=cv.hash)
        +viewPersonal

        div.cvSpacer

        +viewEducation

        div.cvSpacer

        +viewEmployment
  else
    p
      | nothing to see
